html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
    overflow: visible;
    background-color: black;

}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.points {
	display: flex;
	color: white;
	border: none;
	justify-content: center;
	align-items: flex-end;
	font-size: 40px;
	width: 50%;
	height: 50%;
}

#odometer {
	width: 100%;
	background: none;
	text-align: center;
}

#gryffindor
{
background:url(img/gryffindor.jpg) no-repeat center center;
}

#hufflepuff
{
background:url(img/hufflepuff.jpg) no-repeat center center;
}

#ravenclaw
{
background:url(img/ravenclaw.jpg) no-repeat center center;
}

#slytherin
{
background:url(img/slytherin.jpg) no-repeat center center;
}
